.navebar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 280px;
}

.menu a{
    text-decoration: none;
    color: gray;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.loh{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #01b49c;
}

.twotext {
    display: flex;
    justify-content: center;
    text-align: start;
    font-size: 16.5px;
    padding: 10px 470px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(97, 97, 97);
    line-height: 1.8;
}

.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    gap: 10px;
}

.frbox{
    background: #01b49c;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    padding: 30px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.scbox{
     background: rgb(0, 110, 255);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    padding: 30px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.trbox{
    background: rgb(1, 1, 31);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 280px;
    height: 300px;
    border-radius: 10px;
    padding: 30px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.selectbox{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 19px;
}

.ann{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.ann img{
    width: 120px;
    height: 25px;
   margin: 20px;
}

.tt h1{
   color: #01b49c;
   font-weight: 1.4;
   margin-right: 90px;
   line-height: 0.8;
}

.back{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #cffff8;
    padding: 40px 450px;
    gap: 10px;
    
}

.boxxxx{
    display: grid;
    grid-template-columns: repeat(2,220px);
    gap: 20px;
    
}

.box{
    background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 15px;
   border-radius: 8px;
   margin-top: 20px;
   height: 220px;

   
}

.box h1{
    margin: 2px 0;
    font-weight: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01b49c;
}

.box p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: gray;
}

.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 700px;
}

.hp h1{
 font-weight: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #01b49c;
}
.hp p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: gray;
}

.fr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.sc{
   display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0; 
}