body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("5a1958ff-bd69-47a5-97c0-255e829a80d3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.navebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}
.menu a {
    background-color: transparent;
    border: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
}
.sing button{
    background-color: transparent;
    border-radius: 50px;
    margin: 10px;
    height: 35px;
    width: 100px;
    color: white;
    cursor: pointer;
}
.hr {
    color: transparent;
}
.main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    color: white;
}
 .bt1 {
    background-color: red;
    color: white;
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 50px;
    margin: 20px;
    cursor: pointer;
 }
 .bt2 {
   background-color: transparent;
   border-color: red;
   border-radius: 50px;
   height: 50px;
    width: 130px;
    color: red;
    cursor: pointer;
 }
 .dow {
    margin: 50px;
 }
     

